@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">
        Welcome to Card Creator
    </h1>
    <p>
        Первая карточка <>

    </p>
    <p>
        </p>
</div>
