@{
    ViewData["Title"] = "Card Creator";

}

<div class="text-center">
    <h5 class="display-4">
        Fill one side of the card with the words
    </h5>
    <div class="row mb-5">
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Side One</span>
                </div>
                <textarea class="form-control" aria-label="Side One words" rows="20"></textarea>
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Side Two</span>
                </div>
                <textarea class="form-control" aria-label="Side Two words" rows="20"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn-lg btn-success">Auto Translate</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn-lg btn-primary" asp-action="CreateTable">Create!</button>
        </div>

    </div>

</div>
